{% extends 'base.html.twig' %}

{% block title %}New Tache{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="section">
            <h1>Ajouter une nouvelle tache</h1>
        </div>
        <div class="section d-flex justify-content-start">
            {{ include('tache/_form.html.twig') }}
        </div>
        <div class="section">
            <div class="btn btn-sm btn-dark">
                <a href="{{ path('tache_index') }}">Retourner à la liste</a>
            </div>
            
        </div>
          
    </div>
{% endblock %}
