{{ form_start(form) }}
    {{ form_widget(form) }}
    <input class="btn btn-primary btn-sm" type="reset" value="Effacer"><button class="btn btn-sm btn-dark">
    {{ button_label|default('Rechercher') }}</button> 
{{ form_end(form) }}
